.leaderboard {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: translateY(30px);
  animation: fade-in-up 1s ease-out forwards;
}

.leaderboard-container {
  text-align: center;
  min-height: 60vh;
}

.leaderboard-container .beast {
  width: 40px;
  height: 40px;
}

.leaderboard-container h4 {
  margin: 20px;
}

.leaderboard-container span {
  font-weight: bold;
}

.leaderboard-container .col-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ECECDA;
}

.leaderboard .bottom-footer {
  color: #ECECDA;
  font-weight: bold;
  display: column;
}

.leaderboard .bottom-footer .copy {
  width: 30px;
  margin-left: 4px;
}
.leaderboard-container .initial-info {
  background-color: transparent;
}
