.whispers {
  height: 70px;
  margin: 0 0 10px;
}

.whispers .messages {
  padding: 0 15px 0;
  text-align: center;
  margin: 0;
  color: #ECECDA;
}

.whispers .message span {
  display: none !important;
}

.whispers .message p {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background: unset;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  color: #ECECDA;
  margin: 0;
}
