.whispers {
  height: 70px;
  margin: 0 0 10px;
}

.whispers .messages {
  padding: 0 15px 0;
  text-align: center;
  margin: 0;
  color: #ECECDA;
}

.whispers .message span,
.whispers-chat .message span {
  display: none !important;
}

.whispers .message p {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background: unset;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  color: #ECECDA;
  margin: 0;
}

.whispers-chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 232px;
}

.whispers-chat .messages {
  overflow-y: scroll;
  padding-bottom: 7px;
}

.whispers-chat .message {
  border-radius: 15px;
}

.whispers-chat .chat-input {
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.whispers-chat .chat-input input {
  font-family: 'Kallisto';
  padding: 10px;
  margin: 0;
  width: 100%;
  height: 60px;
  font-size: 16px;
  background-color: transparent;
  color: #ECECDA;
  border: 0;
  border-radius: 10px;
  transition: all 0.25s ease;
  backdrop-filter: blur(5px);
}

.whispers-chat .chat-input input:focus {
  outline: none;
}

.whispers-chat .chat-input input::placeholder {
  color: #ECECDA;
  transition: all 0.25s ease;
}

.whispers-chat .chat-input input:focus::placeholder {
  opacity: 0.5;
}

.whispers-chat .message .user {
  color: #ECECDA;
}

.whispers-chat .button {
  width: 30%;
}

.whispers-chat .message p {
  font-size: 14px;
  font-weight: bold;
  background: unset;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ECECDA;
  margin-bottom: 5px;
  padding: 15px 10px;
  border-radius: 15px;
}

.whispers-chat .Me p {
  background-color: rgba(55, 0, 1, 0.5)
}