.react-joyride__tooltip {
  background-color: rgba(55, 0, 1, 0.8) !important;
  color: #ECECDA !important;
  font-family: "Montserrat", serif !important;
  border-radius: 30px;
  padding: 24px 10=5px !important;
  font-weight: bold;
  margin: auto !important;
}

.react-joyride__tooltip button {
  color: #ECECDA !important;
  font-weight: bold;
}

.react-joyride__tooltip button:nth-child(2) {
  background-color: #891a29 !important;
  border-radius: 9px !important;
}

[data-test-id="button-primary"] {
  background-color: #891a29 !important;
  border-radius: 9px !important;
}

[data-test-id="button-close"] {
  display: none !important;
}

.__floater__arrow span svg {
  display: none !important;
}
