.team {
  width: 100%;
  max-width: 400px;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: translateY(30px);
  animation: fade-in-up 1s ease-out forwards;
}

.team .banner {
  height: 200px;
  width: 100%;
  margin: auto;
  border: 2px solid #ECECDA;
  border-radius: 24px;
  object-fit: cover;
  margin-bottom: 15px;
}

.lore-container {
  padding-top: 30px;
  text-align: center;
}

.bottom-footer {
  color: #ECECDA;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-footer img {
  width: 30px;
  margin-left: 4px;
}