.whispers {
  height: 70px;
  margin: 0 0 10px;
  position: relative;
  top: -15px;
}

.whispers .message span,
.whispers-chat .message span {
  display: none !important;
}

.whispers-chat {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.whispers .message p {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background: unset;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  color: #ECECDA;
  margin: 0;
}

.whispers-chat .messages {
  overflow-y: scroll;
  padding-bottom: 7px;
}

.whispers-chat .message {
  border-radius: 15px;
}

.whispers-chat .my-message {
  height: 120px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.whispers-chat .my-message .message.me {
  height: 65px;
  width: 100%;
}

.whispers-chat .my-message .message.me p {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background: unset;
  color: #ECECDA;
  margin-bottom: 0;
  padding: 15px 10px;
  border-radius: 15px;
  background-color: transparent;
  overflow-y: scroll;
}

.whispers-chat .pet-message {
  position: absolute;
  height: 105px;
  top: calc(-17dvh - 130px);

}

.whispers-chat .pet-message p {
  position: relative;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background: unset;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  color: #ECECDA;
  margin: 0 15px;
  text-align: center;
  position: relative;
  top: -15px;
}

.whispers-chat .chat-input {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.whispers-chat .chat-input input {
  font-family: 'Kallisto';
  padding: 0 10px 0 15px;
  margin: 0;
  width: 100%;
  height: 55px;
  font-size: 16px;
  background-color: transparent;
  color: #ECECDA;
  border: 0;
  border-radius: 10px;
  transition: all 0.25s ease;
}

.whispers-chat .chat-input input:focus {
  outline: none;
}

.whispers-chat .chat-input input::placeholder {
  color: #ECECDA;
  transition: all 0.25s ease;
}

.whispers-chat .chat-input input:focus::placeholder {
  opacity: 0.5;
}

.whispers-chat .send-button {
  border-radius: 25%;
  height: 55px;
  width: 30%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whispers-chat .send-button img {
  width: 25px;
}