/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

.body {
  margin: 0;
  padding: 110px 15px 30px;
  width: 100vw;
  height: 100dvh;
  background-color: #000;
  background-image: url('./assets/img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  font-family: 'Marcellus SC', serif;
  display: flex;
  align-items: center;
  transition: all 0.25s;
}

h2 {
  font-size: 30px;
  color: #fff;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: #fff;
}

.button {
  background-color: #370001;
  border: 3px solid #e4a101;
  color: #fff;
  padding: 10px 15px;
  border-radius: 15px;
  transition: all 0.25s;
  cursor: pointer;
  margin: 0;
  width: 100%;
  height: 60px;
  font-size: 18px;
}

.button:hover {
  background-color: #e4a101;
}

.button:disabled {
  background-color: #370001;
  border: 3px solid #370001;
  color: #b7b7b7;
}

.cover {
  width: 95%;
  max-width: 400px;
  margin: auto;
}

.cover .cover-pic {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  border: 3px solid #e4a101;
  object-fit: cover;
}

.cover .connect-btn {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 20px;
  border-radius: 15px;
}



.footer img {
  max-width: unset;
  height: 18px;
}

.info {
  font-size: 12px;
  color: #c8c8c8;
}

.title {
  text-align: left;
  font-family: "Marcellus SC", serif;
  font-weight: 800;
  font-size: 18px;
  margin: 0;
  padding-right: 5px;
  color: #fff;
}

.title span {
  font-size: 18px;
  color: #e4a101;
}

.connect-btn {
  border-radius: 8px;
  font-family: "Marcellus SC", serif;
  padding: 5px 10px;
  color: var(--white);
  transition: all 0.25s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-center;
  font-size: 14px;
  border: 3px solid #e4a101;
  background-color: #370001;
  color: #fff;
}

.connect-btn:hover {
  background-color: #e4a101;
}

.connect-btn img {
  width: 30px;
  margin-left: 10px;
}
