/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

.body {
  margin: 0;
  padding: 100px 15px 30px;
  width: 100vw;
  height: 100dvh;
  background-color: #000;
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  font-family: 'Marcellus SC', serif;
  display: flex;
  align-items: center;
}

h2 {
  font-size: 30px;
  color: #fff;
}

.button {
  background-color: #370001;
  border: 2px solid #e4a101;
  color: #fff;
  padding: 10px 15px;
  border-radius: 15px;
  transition: all 0.25s;
  cursor: pointer;
  margin: 0;
  width: 100%;
  height: 60px;
  font-size: 18px;
}

.button:hover {
  background-color: #e4a101;
}

.button:disabled {
  background-color: #370001;
  border: 2px solid #370001;
  color: #b7b7b7;
}

.cover, 
.beasts-bag {
  width: 95%;
  max-width: 400px;
  margin: auto;
  z-index: 2;
}

.cover img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 3px solid #e4a101;
  object-fit: contain;
}

.cover .connect-btn {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 20px;
  border-radius: 15px;
}

.tamaguchi {
  padding-top: 40px;
  overflow-y: auto; 
  background-color: transparent;
  margin: auto;
}

.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.actions svg {
  width: 20px;
  height: 20px;
}

.actions button {
  width: 30%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 12px;
  padding: 0;
}

.footer img {
  max-width: unset;
  height: 18px;
}

.info {
  font-size: 12px;
  color: #c8c8c8;
}

.title {
  text-align: left;
  font-family: "Marcellus SC", serif;
  font-weight: 800;
  font-size: 18px;
  margin: 0;
  padding-right: 5px;
}

.title span {
  font-size: 18px;
  color: #e4a101;
}

.scenario {
  border-radius: 18px;
  border: 3px solid #e4a101;
  margin-bottom: 16px;
  background-image: url('./img/scenario.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 34vh;
  position: relative;
}

.level {
  position: absolute;
  left: 15px;
  top: -45px;
  color: #e4a101;
}

.level span {
  color: #fff;
}

.scenario img {
  width: 40%;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  right: 30%;
  margin: auto;
}

.status,
.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status .item,
.stats .item {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.status span,
.stats span {
  font-size: 16px;
  margin-bottom: 0;
}

.status p,
.stats p {
  text-align: left;
  font-size: 10px;
  margin-bottom: 0;
  margin-top: 2px;
}

.stats svg,
.status svg {
  color: #e4a101;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.status {
  width: 85%;
  margin-bottom: 30px;
}

.stats {
  width: 60%;
  position: absolute;
  z-index: 2;
  top: -45px;
  right: 10px;
}