@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Kallisto';
  src: url('./assets/fonts/Kallisto-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kallisto';
  src: url('./assets/fonts/Kallisto-Bold.otf');
  font-weight: bold;
  font-style: bold;
}

.body {
  margin: 0 auto;
  padding: 0 15px 30px;
  width: 100vw;
  height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.25s;
  background-color: #000;
  background-image: linear-gradient(rgba(137, 26, 40, 0.5), rgba(137, 26, 40, 0.5)), url('./assets/img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.body.day {
  background-image: url('./assets/img/daybackground.jpg');
}

.body.night {
  background-image: url('./assets/img/nightbackground.png');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kallisto';
}

h2 {
  font-size: 30px;
  color: #ECECDA;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: #ECECDA;
  font-family: "Montserrat", serif;
}

p, span {
  font-family: "Montserrat", serif;
}

.input {
  font-family: 'Kallisto';
  border-radius: 30px;
  padding-right: 10px;
  margin: 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  background: linear-gradient(to right, #85002A, #D1093D);
  color: #ECECDA;
  border: 0;
  border-radius: 10px;
  transition: all 0.25s ease;
  backdrop-filter: blur(5px);
}

.input::placeholder {
  color: #ECECDA;
  font-family: 'Kallisto';
}

.button {
  background: linear-gradient(to right, #85002A, #D1093D); 
  color: #ECECDA; 
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-family: 'Kallisto', sans-serif; 
  text-transform: uppercase;
  cursor: pointer; 
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 12px 0;
  width: 100%;
}

.button:hover {
  background: linear-gradient(to right, #95033A, #E11A4D); 
  transform: translateY(-2px); 
  color: #ECECDA;
}

.button:active {
  background: linear-gradient(to right, #B00833, #6E0022); 
  transform: translateY(0);
  color: #ECECDA;
}

.button:disabled {
  background-color: #370001;
  border: 2px solid #370001;
  color: #b7b7b7;
}

.button img {
  width: 30px;
  margin-left: 10px;
}

.disconnect-button {
  width: 35%;
  padding: 12px 10px;
  margin: 0;
  background-color: #370001;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.25s;
  font-weight: bold;
}

.hint {
  height: 36px;
  margin: 12px 0 0;
  transition: all 0.5s;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hint.fade-in {
  opacity: 1;
}

.cover {
  width: 95%;
  max-width: 400px;
  margin: auto;
}

.cover .cover-pic {
  width: 100%;
  height: 300px;
  border: 2px solid #e4a101;
  object-fit: cover;
  border-radius: 25px;
}

.footer img {
  max-width: unset;
  height: 18px;
}

.info {
  font-size: 12px;
  color: #ECECDA;
  font-weight: bold;
  text-align: center;
}

.title {
  text-align: left;
  font-weight: 800;
  font-size: 18px;
  margin: 0;
  padding-right: 5px;
  color: #ECECDA;
}

.title span {
  font-size: 18px;
  color: #ECECDA;
}

.connect-btn,
.connect-btn:active,
.connect-btn:visited,
.connect-btn:focus {
  border: 0;
  font-family: 'Kallisto';
  font-size: 12px;
  background-color: rgba(55, 0, 1, 0.5);
  color: #ECECDA;
  border-radius: 10px;
  text-align: center;
  transition: all 0.25s;
  cursor: pointer;
  padding: 15px 10px;
  margin: 0 auto auto;
  font-weight: bold;
}

.connect-btn:hover {
  background-color: #610103;
}

.connect-btn img {
  width: 30px;
  margin-left: 10px;
}

#_rht_toaster div div {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: #ECECDA;
  border-radius: 3px !important;
  font-weight: bold !important;
  border-radius: 5px;
}

.go-back-container {
  position: absolute;
  bottom: 20px; 
  left: 20px;   
  z-index: 1000; 
}

.hatch {
  height: 35px;
  background-color: #ECECDA !important;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin: auto 0 0 auto;
}

.hatch span {
  color: #891a29 !important;
  font-weight: bold;
}

.hatch img {
  margin: 0 !important;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loading-state {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #ECECDA;
  border-top-color: #e4a101;
  animation: loading 1s linear infinite;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

