.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 153px;
  width: 100%;
}

.actions svg {
  width: 20px;
  height: 20px;
}

.actions button {
  width: 48%;
  height: 45px;
  border-radius: 40px;
  font-size: 16px;
  margin-bottom: 6px;
  background-color: transparent;
  color: #ECECDA;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  transition: all 0.5s;
}

.actions button:nth-child(1) {
  border: 3px solid #FF7E7E;
}
.actions button:nth-child(2) {
  border: 3px solid #EE69FF;
}
.actions button:nth-child(3) {
  border: 3px solid #71E4FF;
}
.actions button:nth-child(4) {
  border: 3px solid #B0FF9F;
}
.actions button:nth-child(5) {
  border: 3px solid #FFF362;
}
.actions button:nth-child(6) {
  border: 3px solid #000000;
}

.actions button:nth-child(1):hover {
  box-shadow: 0 0 30px #FF7E7E;
}
.actions button:nth-child(2):hover {
  box-shadow: 0 0 30px #EE69FF;
}
.actions button:nth-child(3):hover {
  box-shadow: 0 0 30px #71E4FF;
}
.actions button:nth-child(4):hover {
  box-shadow: 0 0 30px #B0FF9F;
}
.actions button:nth-child(5):hover {
  box-shadow: 0 0 30px  #FFF362;
}
.actions button:nth-child(6):hover {
  box-shadow: 0 0 30px  #000000;
}

.actions button:disabled {
  opacity: 0.5;
}
.actions button:disabled:hover {
  box-shadow: 0;
}

.actions button img {
  position: absolute;
  left: 15px;
  top: 13px;
}
