.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 153px;
  width: 100%;
}

.actions svg {
  width: 20px;
  height: 20px;
}

.actions button {
  width: 48%;
  height: 45px;
  border-radius: 25px;
  font-size: 16px;
  margin-bottom: 6px;
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ececda !important;
  border: 0;
  transition: all 0.5s;
  cursor: pointer;
}

.actions button:hover {
  background-color: #85002A;
}

.actions button:disabled {
  opacity: 0.4;
  box-shadow: 0;
}

.actions button:disabled:hover {
  box-shadow: 0;
}

.actions button img {
  position: absolute;
  left: 15px;
  top: 13px;
}
