.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 120px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px 10px;
  border-radius: 20px;
}

.actions button {
  width: 23%;
  height: 90%;
  border-radius: 15px;
  font-size: 16px;
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  transition: all 0.5s;
  background-color: #ececda;
  color: #85002A !important;
  border: 0;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actions button:hover {
  background-color: #ececdadf;
}


.actions button:disabled {
  opacity: 0.4;
  box-shadow: 0;
}

.actions button:disabled:hover {
  box-shadow: 0;
}

.actions img {
  position: relative !important;
  width: 40px;
  height: 40px;
  margin-bottom: 4px;
}
