.tamaguchi {
  overflow-y: auto; 
  background-color: transparent;
  margin: auto;
  width: 100%;
  height: 100%;
}

.scenario {
  height: 30vh;
  background-size: cover;
  position: relative;
  margin-bottom: 10px;
}

.scenario img {
  width: 40%;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  right: 30%;
  margin: auto;
}

.beast-interaction img {
  width: 35px;
  margin: 0 12px 10px 0;
}
