.tamaguchi {
  padding-top: 40px;
  overflow-y: auto; 
  background-color: transparent;
  margin: auto;
}

/* Container for the tamagotchi */
.tamagotchi-image-container {
  border: 3px solid #370001; 
  border-radius: 18px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  height: 34vh;
  transition: border-color 0.3s ease; 
}

/* Border activated with glow animation */
.tamagotchi-image-container.glow {
  border-color: #e4a101;
  animation: border-glow-movement 2s linear infinite;
}

/* light animation around the scenario */
@keyframes border-glow-movement {
  0% {
    box-shadow: inset 0 0 10px 2px #e4a101;
  }
  25% {
    box-shadow: inset 10px 0 20px #e4a101;
  }
  50% {
    box-shadow: inset 0 10px 20px #e4a101;
  }
  75% {
    box-shadow: inset -10px 0 20px #e4a101;
  }
  100% {
    box-shadow: inset 0 0 10px 2px #e4a101;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.actions svg {
  width: 20px;
  height: 20px;
}

.actions button {
  width: 30%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 12px;
  padding: 0;
}

.scenario {
  border-radius: 18px;
  margin-bottom: 16px;
  background-image: url('../../assets/img/scenario-light.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 31vh;
  position: relative;
}

.level {
  position: absolute;
  left: 15px;
  top: -45px;
  color: #e4a101;
}

.level span {
  color: #fff;
}

.scenario img {
  width: 40%;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  right: 30%;
  margin: auto;
}

.status,
.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status .item,
.stats .item {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.status span,
.stats span {
  font-size: 16px;
  margin-bottom: 0;
}

.status p,
.stats p {
  text-align: left;
  font-size: 10px;
  margin-bottom: 0;
  margin-top: 2px;
}

.stats svg,
.status svg {
  color: #e4a101;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.status {
  width: 85%;
  margin-bottom: 30px;
}

.stats {
  width: 60%;
  position: absolute;
  top: -45px;
  right: 10px;
}

