.tamaguchi {
  overflow-y: auto; 
  background-color: transparent;
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 85dvh;
  transform: translateY(50px);
  animation: fade-in-up 1s ease-out forwards;
}

.scenario {
  height: 17dvh;
  background-size: cover;
  position: relative;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scenario img {
  width: 40%;
  object-fit: contain;
  position: absolute;
  bottom: 15px;
  right: 30%;
  margin: auto;
}

.beast-interaction {
  position: relative;
  display: flex;
}

.beast-buttons {
  position: absolute;
  top: -45px; 
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.name-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.beast-interaction .actions-icon {
  width: 35px;
  cursor: pointer;
  margin-right: 0px;
  grid-column: 3;
  justify-self: end;
}

.age-indicator {
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  margin-right: 10px;
  pointer-events: auto;
  cursor: pointer;
}

.age-info {
  width: 100%;
  position: absolute;
  top: -50px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ECECDA;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  width: 100px;
  text-align: center;
}

.age-info img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.chat-toggle {
  width: 37px;
  height: 37px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  pointer-events: auto;
}

.chat-toggle img {
  width: 25px;
  height: 25px;
}

.age-indicator span {
  color: #ECECDA;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 20px;
}

.back-button {
  width: 35px; 
  height: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  pointer-events: auto; 
}

.beast-interaction .icon-circle .actions-icon {
  width: 25px;
  height: 25px;
}

.drag-over {
  filter: brightness(1.2);
  transform: scale(1.05);
  transition: all 0.2s ease;
}
