.food-carousel-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.food-carousel {
  display: flex;
  gap: 10px;
  padding: 15px;
  width: 100%;
}

.food-carousel button {
  font-family: "Montserrat", serif;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 23%;
  height: 80px;
  background-color: #ECECDA;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 10px;
  flex-shrink: 0;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  margin: 5px auto;
}

.food-carousel span {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 12px;
}

.food-carousel p {
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  white-space: normal;
}

.food-carousel button img {
  width: 30px;
  height: 30px;
  margin: auto;
}

@keyframes aura {
  0% {
    box-shadow: 0 0 2px #85002A, 0 0 4px #85002A, 0 0 6px #85002A, 0 0 8px #85002A;
  }
  50% {
    box-shadow: 0 0 4px #85002A, 0 0 8px #85002A, 0 0 12px #85002A, 0 0 16px #85002A;
  }
  100% {
    box-shadow: 0 0 2px #85002A, 0 0 4px #85002A, 0 0 6px #85002A, 0 0 8px #85002A;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(-25%);
  }
}
