.food-carousel {
  width: 100%;
  height: 190px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: #ECECDA;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
 overflow-y: scroll;
 height: 120px;
}

.food-carousel button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 23%;
  height: 90%;
  margin: 0 auto;
  background-color: #ECECDA;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 13px;
  font-family: "Montserrat", serif;
  text-transform: capitalize;
  cursor: pointer;
}

.food-carousel .button.spawn-food {
  width: 50%;
  height: 100%;
  margin: auto;
  font-size: 20px;
  animation: aura 1.5s infinite;
  font-family: 'Kallisto';
}

.food-carousel .button.spawn-food img {
  animation: moveUpDown 3s infinite;
}

.food-carousel span {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 12px;
}

.food-carousel button img {
  width: 30px;
  height: 30px;
  margin: auto;
}

@keyframes aura {
  0% {
    box-shadow: 0 0 2px #85002A, 0 0 4px #85002A, 0 0 6px #85002A, 0 0 8px #85002A;
  }
  50% {
    box-shadow: 0 0 4px #85002A, 0 0 8px #85002A, 0 0 12px #85002A, 0 0 16px #85002A;
  }
  100% {
    box-shadow: 0 0 2px #85002A, 0 0 4px #85002A, 0 0 6px #85002A, 0 0 8px #85002A;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(-25%);
  }
}
