.food-carousel {
    width: 100%;
    height: 153px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #ECECDA;
    position: relative;
    overflow: hidden;
}

.food-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    margin: 0px 0px 0px 70px;
}

.food-label {
    display: flex;
    align-items: center;
    gap: 10px; 
    flex: 1;
}

.food-label img {
    width: 80px;
    height: 80px;
}

.food-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.food-name {
    font-size: 14px;
    font-weight: bold;
    /*display: block;*/
    /*text-align: center;*/
}

.food-value {
    font-size: 12px;
    color: #BFBFBF;
}

.feed-button {
    padding: 6px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #ECECDA;
    background-color: #950124;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
    margin: 5px;
    
}

.feed-button:hover {
    background-color: #950124;
}

.slick-dots {
    bottom: -35px;
}

.slick-dots li button:before {
    color: #ECECDA !important;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
