/* Styles for full screen */
.fullscreen-game-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: black;
  z-index: 9999;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.fullscreen-mode {
  width: 100%;
  height: 100%;
}

.fullscreen-game-mode {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* Hide unwanted interface elements in full screen mode */
.fullscreen-game-mode header,
.fullscreen-game-mode footer,
.fullscreen-game-mode nav {
  display: none !important;
}