/* Chat */
.chat {
  display: flex;
  flex-direction: column;
  height: 65%;
  overflow: hidden;
  width: calc(100% - 30px);
  background-color: transparent;
  position: absolute;
  bottom: 20px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  color: #fff;
}

.message {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  padding: 20px 10px;
  margin-bottom: 10px;
  font-size: 22px;
}

.user {
  font-weight: bold;
  margin-right: 5px;
}

.chat-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 0 0;
}

.chat-input input {
  width: 100%;
  height: 55px;
  padding: 10px;
  font-size: 22px;
  border-radius: 8px;
  margin-bottom: 12px;
  background-color: transparent;
  color: #fff;
  border: 0;
}

.chat-input input::placeholder {
  color: #fff;
}
