
.status {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  border-radius: 25px;
  color: #ECECDA;
  cursor: pointer;
}

.status .item {
  margin: auto;
}

.status .item .pic {
  position: absolute;
  top: 6px;
  left: 7px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height:55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status .item p {
  font-size: 12px;
}

.status .circle-container {
  position: relative;
}

.status .status-name {
  position: absolute;
  transition: all 0.3s;
  margin-top: 2px;
  font-weight: bold;
  width: 113px;
  left: -23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.status .status-name span {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 20%;
}

.status .item .value {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

.progress-number {
  font-size: 20px;
  font-weight: bold;
}
