.footer,
.team {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer-logo {
  background: #ECECDA;
  border-radius: 50%;
  height: 20px;
}

.footer-team {
  border-radius: 50%;
  height: 40px;
  border: 2px solid #370001;
}