.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}

.footer-team {
  border-radius: 50%;
  height: 50px;
  border: 2px solid #ECECDA;
}

.carousel-item {
  padding: 0 60px;
  color: #ECECDA;
  font-weight: 500;
}

.member-info {
  width: 70%;
  margin-left: 12px;
}

.bottom-footer {
  color: #ECECDA;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 1rem 0;
}

.bottom-footer img {
  width: 30px;
  margin: 0 15px 0; 
  transition: transform 0.3s ease;
}

.bottom-footer img:hover {
  transform: scale(1.2);
}
