.audio-button {
  margin-left: 0.5rem;
  background-color: #ECECDA;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  }
  
.audio-button:hover {
  transform: scale(1.1);
}
  
.audio-button_icon img {
  width: 35px;
  height: 35px;
  padding: 7px;
  object-fit: cover;
}