.beasts-bag {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin: auto;
  z-index: 2;
}

.beasts-bag .eggs {
  width: 100%;
}

.beast {
  width: 45%;
  margin: 0 auto 10px;
  padding: 15px 10px;
  background-color: #2c0001;
  border: 2px solid #e4a101;
  overflow: hidden;
  border-radius: 15px;
}

.beast img {
  width: 60%;
  height: auto;
  margin: 5px auto 12px;
}

.beast span,
.beast svg {
  width: 15px;
  margin: auto;
}

.beast h4 span {
  color: #e4a101;
}

.beast svg {
  color: #e4a101;
}
