.bag {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
}

.bag .eggs {
  width: 100%;
}

.beast {
  width: 100%;
  margin: 0 auto 10px;
  padding: 15px 10px;
  background-color: #2c0001;
  border: 2px solid #e4a101;
  overflow: hidden;
  background-image: url('../../assets/img/scenario-light.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.beast img {
  width: 100%;
  height: auto;
  margin: 0;
}

.beast span,
.beast svg {
  width: 15px;
  margin: auto;
}

.beast h4 span {
  color: #e4a101;
}

.beast svg {
  color: #e4a101;
}

.beast .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  padding: 10px;
  background-color: rgba(55, 0, 1, 0.5);
  border-radius: 10px;
}
