.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0;
}

.navbar h2 {
  font-family: "Marcellus SC", serif;
  font-weight: 800;
  font-size: 24px;
  margin: 0 0 0 10px;
}

.navbar h2 span {
  color: #e4a101;
}

.navbar .logo {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.navbar .logo img {
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: 0;
}

.navbar .sheep {
  width: 65px;
  object-fit: cover;
  border-radius: 50%;
  transform: scaleX(-1);
}

.navbar .connect-btn {
  margin: 0 0 10px;
  height: 50px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: relative;
  min-height: calc(100vh - 95px);
  background-color: #2c0001;
  z-index: 2;
  transition: all 0.25s;
  background-image: url('../../assets/img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 15px;
  overflow-y: scroll;
}
