.navbar {
  width: 100%;
  max-width: 400px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto 15px;
  transform: translateY(30px);
  animation: fade-in-up 1s ease-out forwards;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.menu-toggle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  padding: 0;
  background-color: #ECECDA;
}
.toggle-icon {
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}

.side-menu-container {
  display: flex;
  position: relative;
}

.side-menu {
  position: absolute;
  right: -15px;
  top: 50px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.side-menu.expanded {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.side-menu .item {
  background-color: #ECECDA;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 7px 5px;
  cursor: pointer;
}

.side-menu .menu-link {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.side-menu span {
  color: #891a29;
  margin-left: 10px;
  font-weight: bold;
}

.icon-container {
  background-image: url('../../assets/img/back.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon-container img {
  width: 30px;
  height: 30px;
  border-radius: unset;
  object-fit: contain;
}

.muted {
  filter: brightness(0.5);
  transition: all 0.25s;
}
