.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 15px;
}

.navbar h2 {
  font-family: "Marcellus SC", serif;
  font-weight: 800;
  font-size: 24px;
  margin: 0 0 0 10px;
}

.navbar h2 span {
  color: #e4a101;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar .sheep {
  width: 65px;
  object-fit: cover;
  border-radius: 50%;
  transform: scaleX(-1);
}

.menu {
  height: calc(100vh - 95px);
  background-color: #2c0001;
}