.navbar {
  width: 100%;
  max-width: 400px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto 20px;
}

.navbar h2 {
  font-weight: 800;
  font-size: 18px;
  margin: 0 0 0 10px;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.side-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.side-menu img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar-toggler {
  padding: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar .sheep {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  transform: scaleX(-1);
}

.navbar .search {
  width: 51px;
  object-fit: cover;
  border-radius: 50%;
  transform: scaleX(-1);
}

.menu {
  position: relative;
  min-height: calc(100vh - 95px);
  background-color: #2c0001;
  z-index: 2;
  transition: all 0.25s;
  background-image: url('../../assets/img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 15px;
  overflow-y: scroll;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
