.navbar {
  width: 100%;
  max-width: 400px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto 15px;
  transform: translateY(30px);
  animation: fade-in-up 1s ease-out forwards;
}

.navbar h2 {
  font-weight: 800;
  font-size: 18px;
  margin: 0 0 0 10px;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.side-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.side-menu img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar-toggler {
  padding: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar .sheep {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  transform: scaleX(-1);
}

.navbar .search {
  width: 51px;
  object-fit: cover;
  border-radius: 50%;
  transform: scaleX(-1);
}

.dex-icon,
.bag-icon {
  background-image: url('../../assets/img/back.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.dex-icon img,
.bag-icon img {
  width: 25px;
  height: 25px;
  border-radius: unset;
  object-fit: contain;
}
