.navbar {
  width: 100%;
  max-width: 400px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto 15px;
  transform: translateY(30px);
  animation: fade-in-up 1s ease-out forwards;
}

.navbar h2 {
  font-weight: 800;
  font-size: 18px;
  margin: 0 0 0 10px;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.side-menu img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar-toggler {
  padding: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar .sheep {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  transform: scaleX(-1);
}

.navbar .search {
  width: 51px;
  object-fit: cover;
  border-radius: 50%;
  transform: scaleX(-1);
}

.dex-icon,
.leader-icon,
.bag-icon,
.lore-icon,
.music-icon {
  background-image: url('../../assets/img/back.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.lore-icon img,
.leader-icon img {
  width: 30px;
  height: 30px;
  border-radius: unset;
  object-fit: contain;
}


.music-icon {
  border: none;
  padding: 0;
  cursor: pointer;
}

.music-icon .muted {
  filter: brightness(0.5);
  transition: all 0.25s;
}

.side-menu-container {
  position: relative;
}

.menu-toggle {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  padding: 0;
  background-color: #ECECDA;
}

.toggle-icon {
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}

.side-menu {
  position: absolute;
  right: -10px;
  top: 50px;
  width: 200px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.side-menu .item {
  display: flex;
  align-items: center;
  padding: 7px 0;
}

.side-menu span {
  color: #ECECDA;
  margin-left: 10px;
  font-weight: bold;
}

.side-menu.expanded {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
