.talk-modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 15px;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.talk {
  position: relative;
  background-image: linear-gradient(rgba(137, 26, 40, 0.5), rgba(137, 26, 40, 0.5)), url('../../../assets/img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 15px;
  z-index: 100;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 3px solid rgba(55, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.talk-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.talk-info {
  width: 100%;
  display: flex;
  align-items: center;
}

.talk-info h4 {
  margin: 0;
  color: #ECECDA;
  font-size: 20px;
  font-weight: 700;
  margin: auto 0 0 10px;
}

.talk-icon {
  width: 70px;
}

.talk-info .stats {
  height: 80px;
  margin-left: 10px;
}

.close-talk {
  width: 50px;
  cursor: pointer;
}