.sound-button {
  background-color: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  z-index: 1000;
  bottom: 45%;
  left: 15px;
}

.sound-button img {
  width: 25px;
  transition: all 0.25s;
}

.sound-button .muted {
  filter: brightness(0.5);
}
