.sound-button {
  background-color: transparent;
  border: 0;
  margin-right: 10px;
}

.sound-button img {
  width: 20px;
  transition: all 0.25s;
}

.sound-button .muted {
  filter: brightness(0.5);
}
