.sound-button {
  position: absolute;
  top: 78px;
  left: 15px;
  background-color: transparent;
  border: 0;
}

.sound-button img {
  width: 20px;
  transition: all 0.25s;
}

.sound-button .muted {
  filter: brightness(0.5);
}
