.spawn-beast {
  width: 100%;
  max-width: 400px;
  height: 85dvh;
  max-width: 400px;
  margin: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(30px);
  animation: fade-in-up 1s ease-out forwards;
}

.initial-beast {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #616140;
  margin: 0 auto 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.initial-beast .actions-icon,
.initial-beast .egg {
  width: 45%;
  margin-bottom: 8px;
}

.initial-info {
  width: 100%;
  max-height: 60dvh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 15px;
  margin: 0 0 13px;
  text-align: center;
  border-radius: 15px;
}

.initial-info h4 {
  margin: 15px auto 25px;
  font-size: 18px;
  color: #ECECDA;
  font-weight: bold;
}

.initial-info p {
  color: #ECECDA;
  margin-bottom: 10px;
  font-size: 14px;
}

.initial-info .button {
  height: 50px;
}