.stats {
  width: 100%;
  height: 153px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
}

.stats .item {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.stats .item .stats-label {
  width: 40%;
}

.stats .item .stats-value {
  width: 60%;
  display: flex;
}

.stats .item img {
  margin-right: 6px;
}

.stats .progress-bar {
  background: #434343;
  width: 90%;
  height: 50%;
  margin-right: 7px;
  border-radius: 30px;
}

.stats .progress-bar .progress {
  height: 100%;
}

.stats-value.Attack .progress-bar .progress {
  background: linear-gradient(to right, #72e4ff, #7354ff);
}
.stats-value.Defense .progress-bar .progress {
  background: linear-gradient(to right, #ee6afe, #ffaab7);
}
.stats-value.Speed .progress-bar .progress {
  background: linear-gradient(to right, #b0ff9f, #8cedff);
}
.stats-value.Experience .progress-bar .progress {
  background: linear-gradient(to right, #ff807d, #fff263);
}
